##### Pull all .txt files from directory to a single dataframe

In [ ]:
# Reference: https://www.easytweaks.com/pandas-read-text-files/
# I put this code in a different notebook so that we don't have to run the txt downloads repetitively when running from terminal

##### 2022 MTA turnstile volume data

In [6]:
import pandas as pd
import glob
import os

In [8]:
# Define relative path to folder containing the text files

files_folder = (r"C:\Users\Ria\Documents\DS4A_Data_Engineering\project_team19\mta_turnstile_volume\data\download-20220428202356")
files = []

# Create a dataframe list by using a list comprehension

files = [pd.read_csv(file, delimiter=',') for file in glob.glob(os.path.join(files_folder ,"*.txt"))]

# Concatenate the list of DataFrames into one
files_df = pd.concat(files)

In [9]:
files_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2021,03:00:00,REGULAR,7674633,2647624
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2021,07:00:00,REGULAR,7674636,2647627
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2021,11:00:00,REGULAR,7674641,2647646
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2021,15:00:00,REGULAR,7674654,2647662
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/25/2021,19:00:00,REGULAR,7674684,2647689

In [10]:
# Checking if all data in the folder are being read correctly
files_df.shape

(3573963, 11)

In [11]:
files_df.isnull().sum()

C/A                                                                     0
UNIT                                                                    0
SCP                                                                     0
STATION                                                                 0
LINENAME                                                                0
DIVISION                                                                0
DATE                                                                    0
TIME                                                                    0
DESC                                                                    0
ENTRIES                                                                 0
EXITS                                                                   0
dtype: int64

In [14]:
# Check if the header repeats again throughout the file
files_df.loc[files_df['UNIT'] == 'UNIT']

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS                                                               ]
Index: []

In [20]:
# Copy the dataframe content to another variable before saving to csv
mta_turnstile_2022 = files_df.copy()
mta_turnstile_2022.shape

(3573963, 11)

In [21]:
# creating a new csv file with the dataframe we created for 2022 data
# To note: each week always restart with A002 (in this main csv everything is concatenated together with only 1 header line)
# Files are being read from beginning of year to end of year based on specified date range in folder
mta_turnstile_2022.to_csv('mta_turnstile_2022.csv', index=False)

##### 2021 MTA turnstile volume data

In [17]:
# Define relative path to folder containing the text files

files_folder_21 = (r"C:\Users\Ria\Documents\DS4A_Data_Engineering\project_team19\mta_turnstile_volume\data\download-20220428203706")
files_21 = []

# Create a dataframe list by using a list comprehension

files_21 = [pd.read_csv(file, delimiter=',') for file in glob.glob(os.path.join(files_folder_21 ,"*.txt"))]

# Concatenate the list of DataFrames into one
files_df_21 = pd.concat(files_21)

In [18]:
files_df_21.shape

(10897397, 11)

In [19]:
files_df_21.isnull().sum()

C/A                                                                     0
UNIT                                                                    0
SCP                                                                     0
STATION                                                                 0
LINENAME                                                                0
DIVISION                                                                0
DATE                                                                    0
TIME                                                                    0
DESC                                                                    0
ENTRIES                                                                 0
EXITS                                                                   0
dtype: int64

In [22]:
# Copy the dataframe content to another variable before saving to csv
# Just in case we messed up something 
mta_turnstile_2021 = files_df_21.copy()
mta_turnstile_2021.shape

(10897397, 11)

In [23]:
# creating a new csv file with the dataframe we created for 2021 data
mta_turnstile_2021.to_csv('mta_turnstile_2021.csv', index=False)

In [ ]:
# We can continue for more years using these lines of code, after downloading the .txt to a folder in the previous step